body {
    background-color: blue rgb(242, 61, 91);
    color: white;
    font-family: "Playwrite CU", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    
}